.cards__description {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
  margin: 78px auto 0 auto;
  color: #fff;
  max-width: 130px;
}

@media screen and (max-width: 1279px) {
  .cards__description {
   margin-top: 40px;
  }
}
