@font-face {
  font-family: 'Rubik';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("./rubik-v21-latin-regular.woff2") format("woff2"),
       url("./rubik-v21-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Rubik';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("./rubik-v21-latin-700.woff2") format("woff2"),
       url("./rubik-v21-latin-700.woff") format("woff");
}
