@media (max-width: 767px) {
  .sidebar__icon {
    display: block;
    position: relative;
    background: white;
    width: 90%;
    height: 4px;
    transition: .4s;
  }
  .sidebar__icon::after, .sidebar__icon::before {
    content: "";
    display: block;
    position: absolute;
    background: white;
    width: 100%;
    height: 4px;
    transition: .4s;
  }
  .sidebar__icon::after {
    top: 8px;
  }
  .sidebar__icon::before {
    top: -8px;
  }
}
