.promo__desc-title {
  margin: 0;
  padding: 120px 0 0 64px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.19;
  max-width: 416px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1279px) {
  .promo__desc-title {
    max-width: 50%;
    font-size: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .promo__desc-title {
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  ..promo__desc-title {
    font-size: 24px;
  }
}
