.promo__subtitle {
  margin: 0;
  font-weight: 400;
  padding: 24px 0 0 64px;
  max-width: 672px;
  font-size: 24px;
  line-height: 1.16;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1279px) {
  .promo__subtitle {
    max-width: 60%;
    font-size: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .promo__subtitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .promo__subtitle {
    font-size: 14px;
  }
}
