.promo__title {
  padding: 96px 0 0 64px;
  margin: 0;
  max-width: 1008px;
  font-weight: 700;
  font-size: 144px;
  line-height: 1.05;
  color: #fff;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1279px) {
  .promo__title {
    padding: 96px 0 0 40px;
    max-width: 50%;
    font-size: 96px;
  }
}

@media screen and (max-width: 1023px) {
  .promo__title {
    font-size: 70px;
  }
}

@media screen and (max-width: 767px) {
  .promo__title {
    font-size: 60px;
  }
}

