.intro__title {
  margin: 0 auto;
  padding: 110px 64px 85px;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.19;
  color: #fff;
  max-width: 850px;
}

@media screen and (max-width: 1279px) {
  .intro__title {
    font-size: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .intro__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 24px;
  }
}

